<!DOCTYPE html>
<html>
<head>
	<title>Elie</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="no_content" id="close">
		<img src="/img/close.png">
	</a>
	<div id="text"></div>

	<script type="text/javascript" src="scripts/elie.js"></script>
	<noscript>Sorry, your browser does not support JavaScript!</noscript>
</body>
</html>
