<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<h1 id="test">Liste des parcours</h1>
	<a href="/parcours1">Parcours n°1</a>
</body>
</html>
