<!DOCTYPE html>
<html>
<head>
	<title>Puzzle Hunt</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>
	<iframe src="/init" class="oye-frame"></iframe>

	<div class="oye-object">Objets</div>
	<script type="text/javascript" src="script/oye.js"></script>
</body>
</html>
