<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

	<h1 id="test">Open Your Eyes</h1>
	<ul>
		<li><a href="/parcours1">Partez à la recherche du trésor de Jules Vernes</a></li>
	</ul>
</body>
</html>
