<!DOCTYPE html>
<html>
<head>
	<title>Puzzle Hunt</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>
<body>

	<h1 id="test">Le trésor de Jules Verne</h1>
	<iframe src="/letter" id="oye-frame" name="content"></iframe>

	<div id="oye-object"><p>Objets</p></div>
	<script type="text/javascript" src="scripts/oye.js"></script>
</body>
</html>
