<!DOCTYPE html>
<html>
<head>
	<title>OYE - Init</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>Tu achèves tranquillement, la lecture de "Le tour du monde en 80 jours" de Jules Vernes. Arrivé(e) à la dernière page, une feuille pliée en quatre s'échappe et tombe à tes pieds.</p>
	</div>
</body>
</html>