<!DOCTYPE html>
<html>
<head>
	<title>OYE - Machines de l'ile</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="noContent" id="close">
		<img src="/img/close.png">
	</a>
	<div>
		<p>Tu te rends aux machines de l'Ile pour voir le fameux éléphant. Au guichet, tu te renseignes sur le rôle de Jules Verne dans la création des machines.</p>
		<p> "Jules Verne est mort bien avant la création des machines, mon ami.", te lances le guichetier. "Si l'univers ici est inspiré de la bibliographie de Jules Verne, ce dernier n'a jamais collaboré pour les fabriquer."</p>
		<p>"Par contre," lance-t-il fièrement, "Jules Verne avait dessiné un plan pour faire un éléphant méchanique. C'était très sommaire et complètement irréaliste ! Imagninez vous, une trompe de 8m, des pattes avant de 3 mètres seulement quand les pattes arîères devaient mesurer 5 m. Et une petite queue de 2m. Honnêtement qui aurait voulu voir une monstuosité pareille ?"</p>
		<p> "Je crois que l'absinthe était monté à la tête de ce pauvre Jules vers la fin de sa vie. On dit qu'il avait une marque préférée illégale... D'ailleurs saviez-vous qu'il a habité à deux pas d'ici ? Au 38 Rue La Noue Bras de Fer ! Allez donc y faire un tour !"</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
		top.openPlace(3);
	</script>
</body>
</html>