<!DOCTYPE html>
<html>
<head>
	<title>OYE - Machines de l'ile</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>Il doit bien se passer un truc...</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
		top.openPlace(3);
	</script>
</body>
</html>