<!DOCTYPE html>
<html>
<head>
	<title>OYE - Aux Merveilleux</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>Le serveur du bar vous accueille chaleureusement. Il est beaucoup moins souriant quand il comprend que vous n'êtes pas client :</p>
		<p>"Ecoutez, moi je ne connais rien du trésor de Jules Verne. Je ne sais pas pourquoi les gens me demandent ça. On a une eneigne à son éffigie au dessus de notre boutique c'est tout. Il avait un surnom singulier en ce lieu apparemment."</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
	</script>
</body>
</html>