<!DOCTYPE html>
<html>
<head>
	<title>OYE - Init</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>Explore les lieux qui te semblent pertinents pour trouver le trésor de Jules Verne.</p>
	</div>
	<script type="text/javascript">
		top.looking = setInterval(top.isPlaceFound,2000);
	</script>
</body>
</html>