<!DOCTYPE html>
<html>
<head>
	<title>OYE - Remy</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="noContent" id="close">
		<img src="/img/close.png">
	</a>
	<div>
		<p>La propriétaire vous reçoit : </p>
		<p>"Jules Vernes dans l'immeuble de l'Île de Nantes ? Balivernes ! Il est né sur le cours Olivier de Clisson. Ce n'était qu'au début de sa vie. Ensuite il a quitté Nantes."</p>
		<p>"Par contre," continue le propriétaire, " il est vrai que j'ai souvent eu des problèmes avec mon locataire sur l'Île de Nantes. Mais généralement, il s'excusait en m'offrant mes patisseries préférées de chez Aux Merveilleux."</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
		top.openPlace(6);
	</script>
</body>
</html>