<!DOCTYPE html>
<html>
<head>
	<title>OYE - Remy</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>La propriétaire vous reçoit : </p>
		<p>"Oui, j'ai souvent eu des problème avec mon locataire sur l'Île de Nantes. Mais généralement, il s'excusait en m'offrant mes patisseries préférées de chez Aux Merveilleux."</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
		top.openPlace(6);
	</script>
</body>
</html>