<!DOCTYPE html>
<html>
<head>
	<title>OYE - Romain</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="no_content" id="close">
		<img src="/img/close.png">
	</a>
	<div>
		<p>Tu sonnes à l'appartement de Romain. Ce dernier t'ouvres la porte d'un air étonné.</p>
		<p> "Que voulez-vous ?"</p>
		<p>Tu lui expliques que tu as trouvé la lettre de Elie et que tu aimerais poursuivre la chasse au trésor.</p>
		<p> "Cette chasse a rendu mon ami Elie complètement fou. Heureusement qu'il a réussi à s'arrêter à temps pour se reposer et partir en vacaces. Si vous y tenez, je vous laisse la clé qui permet d'ouvrir son garage afin d'obtenir le coffre, mais honnêtement, je pense que vous devriez mieux vous abstenir."</p>
		<p> Vous insistez un peu. Il vous donne une clé, ainsi que de morceaux de papier.<p>
		<p> "Dans un dernier geste de rage avant de renoncer définitivement, Elie a déchiré cet indice. Afin d'être sûr de ne plus s'impliquer dans ce mystère, il me l'a confié. Je ne sais pas pourquoi je l'ai conservé... Je pense qu'il peut vous être utile."</p>
	</div>
	<script type="text/javascript">
		top.addObject(1);
		top.addObject(2);
		top.clearInterval(top.looking);
	</script>
</body>
</html>