<!DOCTYPE html>
<html>
<head>
	<title>OYE - Romain</title>
	<meta charset="utf-8">
</head>
<body>
	<div>
		<p>Tu arrives dans l'appartement, tu as trouver 2 objets</p>
	</div>
	<script type="text/javascript">
		top.addObject(top.objets[1]);
	</script>
	<script type="text/javascript">
		top.addObject(top.objets[2]);
	</script>
</body>
</html>