<!DOCTYPE html>
<html>
<head>
	<title>OYE - Jules Verne</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="noContent" id="close">
		<img src="/img/close.png">
	</a>
	<div>
		<p>Rien ne semble indiquer que Jules Verne ait vécu dans cet immeuble. Vous allez voir la concierge :</p>
		<p>"Jules Verne aurait habité ici ?", vous lance-t-elle étonné. "Je pense qu'on me l'aurait dit quand même. Il y avait bien ce locataire qui était complètement obniulé par l'écrivain... Comme s'appelait-il déjà ?"</p>
		<p> Elle vous fait signe d'entrer de son appartement et commence à chercher dans un classeur.</p>
		<p>"Lecuyer !!!", hurle-t-elle soudain. "Elie Lecuyer ! Vous le connaissez peut-être ?"</p>
		<p> Vous bredouiller quelques paroles, signe que vous avez vaguement entendu parlé de l'individu en question. Toute heureuse, la concierge vous confie des affaires que cet ex-colocataire a oublié.</p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
		top.addObject(1);
		top.addObject(5);
	</script>
</body>
</html>