<!DOCTYPE html>
<html>
<head>
	<title>OYE - Machines de l'ile</title>
	<meta charset="utf-8">
	<style type="text/css">
		#close{
			position: fixed;
			top:0;
			right: 0;
		}
	</style>
</head>
<body>
	<a href="noContent" id="close">
		<img src="/img/close.png">
	</a>
	<div>
		<p>Le barman sourit, et pointe du doigt un client qui lit tranquillement accoudé au bar.</p>
		<p>"Je pense que vous cherchez Elie", vous répond-il au lieu de vous servir un verre.</p>
		<p> Le client bondit vers vous, hilare.</p>
		<p>"Vous avez trouvé le trésor de Jules Vernes", hurle-t-il."Vous êtes devenus riches d'imagination ! Vous avez arpentez les rues de Nantes et vous y avez découvert de nouveaux visages. Peut-être même que vous avez eu le temps d'apprendre quelques choses sur cette merveilleuse ville. Avez-vous pris le temps de visiter les ateliers des machines ? Avez-vous goûté les meringues chez Au Merveilleux ?"</p>
		<p> Le trésor de Jules Verne semble plus consister en une philosophie de vie qu'en amas d'or. J'espère que tu te sens tout de même enrichi de cette expérience.</p>

		<p><a href="/index" target="top">Retourner aux listing des parcours</a></p>
	</div>
	<script type="text/javascript">
		top.clearInterval(top.looking);
	</script>
</body>
</html>